<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.wst.common.project.facet.core.facets">        
    <project-facet id="com.google.cloud.tools.eclipse.appengine.facet">
       <label>%facetName</label>
       <description>%facetDescription</description>
    </project-facet>
    <project-facet-version facet="com.google.cloud.tools.eclipse.appengine.facet" version="1">
       <constraint>
          <and>
            <requires facet="jst.web" version="2.5"/>
            <requires facet="java" version="1.7"/>
          </and>
        </constraint>
    </project-facet-version>
  </extension>
  
  <extension point="org.eclipse.wst.common.project.facet.core.facets">
    <action
      id="com.google.cloud.tools.eclipse.appengine.facet.install.action"
      facet="com.google.cloud.tools.eclipse.appengine.facet"
      type="INSTALL">
      <delegate class="com.google.cloud.tools.eclipse.appengine.facets.FacetInstallDelegate"/>
    </action>
    <action
      id="com.google.cloud.tools.eclipse.appengine.facet.uninstall.action"
      facet="com.google.cloud.tools.eclipse.appengine.facet"
      type="UNINSTALL">
      <delegate class="com.google.cloud.tools.eclipse.appengine.facets.FacetUninstallDelegate"/>
    </action>
  </extension>
  
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <supported>
      <runtime-component any="true" />
      <facet id="com.google.cloud.tools.eclipse.appengine.facet" />
    </supported>
  </extension>

  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
        id="AppEngineSDK"
        class="com.google.cloud.tools.eclipse.appengine.facets.AppEngineSdkClasspathInitializer"/>
  </extension>

</plugin>
