<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- temporary parent page -->
  <!-- To be moved to a more general bundle
       https://github.com/GoogleCloudPlatform/gcloud-eclipse-tools/issues/507 -->
  <extension point="org.eclipse.ui.propertyPages">
    <page
        id="com.google.cloud.tools.eclipse"
        name="Google Cloud Platform"
        class="com.google.cloud.tools.eclipse.properties.GooglePropertyPage">
       <enabledWhen>
         <reference definitionId="com.google.cloud.tools.eclipse.appengine.onlyInGCPProjects" />
       </enabledWhen>
    </page>
  </extension>
  
  <extension point="org.eclipse.ui.propertyPages">
    <page
        id="com.google.cloud.tools.eclipse.appengine.deploy"
        name="App Engine Deployment"
        category="com.google.cloud.tools.eclipse"
        class="com.google.cloud.tools.eclipse.appengine.deploy.ui.DeployPropertyPage">
      <enabledWhen>
        <reference definitionId="com.google.cloud.tools.eclipse.appengine.onlyInGCPProjects" />
      </enabledWhen>
    </page>
  </extension>

  <extension point="org.eclipse.core.expressions.definitions">
    <definition id="com.google.cloud.tools.eclipse.appengine.onlyInGCPProjects">
       <!-- this will probably be too strict when App Engine Flex becomes supported -->
      <adapt type="org.eclipse.core.resources.IProject">
        <test
            property="org.eclipse.wst.common.project.facet.core.projectFacet"
            value="com.google.cloud.tools.eclipse.appengine.facet" />
      </adapt>
    </definition>
  </extension>
</plugin>
