<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.equinox.preferences.preferences">
    <scope name="bundle_defaults" class="org.eclipse.core.runtime.preferences.BundleDefaultsScope"/>
    <initializer class="com.google.cloud.tools.eclipse.appengine.deploy.DeployPreferenceInitializer"/>
  </extension>
</plugin>
