# on Kokoro Windows during checkout files were changed, assumingly due line ending conversion
# these enforce to keep them as is
*.java -crlf
*.xml -crlf
*.properties -crlf
*.prefs -crlf
*.MF -crlf
*.md -crlf
*.properties -crlf
