<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- TODO how can we test that the properties are defined? -->
  <extension point="org.eclipse.ui.keywords">
    <keyword label="%googleCloudPlatformAcronym" 
             id="com.google.cloud.tools.eclipse.appengine.ui.GCPKeyword"/>
    <keyword label="%appEngineAcronym" 
             id="com.google.cloud.tools.eclipse.appengine.ui.GAEKeyword"/>
    <keyword label="%googleName" 
             id="com.google.cloud.tools.eclipse.appengine.ui.GoogleKeyword"/>
    <keyword label="%appEngineName" 
             id="com.google.cloud.tools.eclipse.appengine.ui.AppEngineKeyword"/>
    <keyword label="%appEngineNameWithSpace" 
             id="com.google.cloud.tools.eclipse.appengine.ui.AppSpaceEngineKeyword"/>
    <keyword label="%appEngineFlexAbbreviation"
             id="com.google.cloud.tools.eclipse.appengine.ui.FlexKeyword"/>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        <toolbar
              id="com.google.cloud.tools.eclipse.appengine.toolbar">
           <command
                 commandId="com.google.cloud.tools.eclipse.ui.util.showPopup"
                 icon="icons/gcp-16x16.png"
                 id="com.google.cloud.tools.eclipse.appengine.actions"
                 style="pulldown"
                 label="%googleCloudPlatformName"
                 tooltip="%googleCloudPlatformName">
           </command>
        </toolbar>
     </menuContribution>
       
     <menuContribution
           allPopups="false"
           locationURI="menu:com.google.cloud.tools.eclipse.appengine.actions">
        <menu
              id="com.google.cloud.tools.eclipse.appengine.actions.new"
              label="%createNewProject">
           <separator
                 name="com.google.cloud.tools.eclipse.appengine.standard"
                 visible="true">
           </separator>
           <command
                 commandId="org.eclipse.ui.newWizard"
                 style="push">
              <parameter
                    name="newWizardId"
                    value="com.google.cloud.tools.eclipse.appengine.newproject.AppEngineStandard">
              </parameter>
           </command>
           <command
                 commandId="org.eclipse.ui.newWizard"
                 style="push">
              <parameter
                    name="newWizardId"
                    value="com.google.cloud.tools.eclipse.appengine.newproject.MavenAppEngineStandard">
              </parameter>
           </command>
           <separator
                 name="com.google.cloud.tools.eclipse.appengine.flexible"
                 visible="true">
           </separator>
        </menu>
        <separator
              name="launch"
              visible="true">
        </separator>
        <command
              commandId="com.google.cloud.tools.eclipse.appengine.localserver.launch"
              icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/run_exc.png"
              label="%launch.gae.run"
              style="push">
           <parameter
                 name="launchMode"
                 value="run">
           </parameter>
        </command>
        <command
              commandId="com.google.cloud.tools.eclipse.appengine.localserver.launch"
              icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/debug_exc.png"
              label="%launch.gae.debug"
              style="push">
           <parameter
                 name="launchMode"
                 value="debug">
           </parameter>
        </command>
        <separator
              name="deploy"
              visible="true">
        </separator>
        <command
              commandId="com.google.cloud.tools.eclipse.appengine.deploy"
              style="push">
        </command>
        <separator
              name="additions"
              visible="true">
        </separator>
        <separator
              name="accounts"
              visible="true">
        </separator>
     </menuContribution>       
  </extension>

</plugin>
