<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- TODO how can we test that the properties are defined? -->
  <extension point="org.eclipse.ui.keywords">
    <keyword label="%googleCloudPlatformAcronym"
             id="com.google.cloud.tools.eclipse.appengine.ui.GCPKeyword"/>
    <keyword label="%appEngineAcronym"
             id="com.google.cloud.tools.eclipse.appengine.ui.GAEKeyword"/>
    <keyword label="%googleName"
             id="com.google.cloud.tools.eclipse.appengine.ui.GoogleKeyword"/>
    <keyword label="%appEngineName"
             id="com.google.cloud.tools.eclipse.appengine.ui.AppEngineKeyword"/>
    <keyword label="%appEngineNameWithSpace"
             id="com.google.cloud.tools.eclipse.appengine.ui.AppSpaceEngineKeyword"/>
    <keyword label="%appEngineFlexAbbreviation"
             id="com.google.cloud.tools.eclipse.appengine.ui.FlexKeyword"/>
  </extension>
  <extension
        point="org.eclipse.ui.menus">

     <menuContribution
           allPopups="false"
           locationURI="menu:com.google.cloud.tools.eclipse.ui.actions.new?after=appengine.standard">
       <command
             commandId="org.eclipse.ui.newWizard"
             style="push">
          <parameter
                name="newWizardId"
                value="com.google.cloud.tools.eclipse.appengine.newproject.AppEngineStandard">
          </parameter>
       </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="menu:com.google.cloud.tools.eclipse.ui.actions.new?after=appengine.flexible">
       <command
             commandId="org.eclipse.ui.newWizard"
             style="push">
          <parameter
                name="newWizardId"
                value="com.google.cloud.tools.eclipse.appengine.newproject.AppEngineFlex">
          </parameter>
       </command>
     </menuContribution>
  </extension>

</plugin>
