<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2015 Google Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not
  ~ use this file except in compliance with the License. You may obtain a copy of
  ~ the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations under
  ~ the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<?eclipse version="3.4"?>
<plugin>
  <extension
      point="org.eclipse.core.resources.natures"
      id="com.google.cloud.dataflow.DataflowJavaProjectNature"
      name="Cloud Dataflow Nature">
    <runtime>
      <run class="com.google.cloud.tools.eclipse.dataflow.core.natures.DataflowJavaProjectNature">
      </run>
    </runtime>
    <requires-nature id="org.eclipse.jdt.core.javanature">
    </requires-nature>
  </extension>

  <extension
      point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
        id="com.google.cloud.tools.eclipse.dataflow.core.DataflowJavaElementTester"
        type="org.eclipse.jdt.core.IJavaElement"
        namespace="com.google.cloud.tools.eclipse.dataflow.core"
        properties="isInDataflowProject"
        class="com.google.cloud.tools.eclipse.dataflow.core.internal.properties.DataflowPropertyTester">
    </propertyTester>
    <propertyTester
        id="com.google.cloud.tools.eclipse.dataflow.core.DataflowJavaElementTester"
        type="org.eclipse.core.resources.IProject"
        namespace="com.google.cloud.tools.eclipse.dataflow.core"
        properties="isDataflowProject,projectIsNotDataflowProject"
        class="com.google.cloud.tools.eclipse.dataflow.core.internal.properties.DataflowPropertyTester">
    </propertyTester>
    <propertyTester
        id="com.google.cloud.tools.eclipse.dataflow.core.DataflowVersionTester"
        type="org.eclipse.core.resources.IResource"
        namespace="com.google.cloud.tools.eclipse.dataflow.core"
        properties="tracksDataflowVersion,pinnedDataflowVersion"
        class="com.google.cloud.tools.eclipse.dataflow.core.internal.properties.DataflowVersionTester">
    </propertyTester>
  </extension>

  <extension
      point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          delegate="com.google.cloud.tools.eclipse.dataflow.core.launcher.DataflowPipelineLaunchDelegate"
          delegateName="Dataflow Pipeline Launcher"
          id="com.google.cloud.dataflow.DataflowPipeline"
          modes="run,debug"
          name="Dataflow Pipeline"
          public="true"
          sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
          sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
    </launchConfigurationType>
  </extension>
</plugin>
