<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--
    Commonly-referenced XSD included to help deflake our tests,
    as XML validation may attempt to download the schemas 
    -->
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <!-- JEE 7 -->
         <uri
               name="http://xmlns.jcp.org/xml/ns/javaee/javaee_web_services_client_1_4.xsd"
               uri="xsd/javaee_web_services_client_1_4.xsd">
         </uri>
         <uri
               name="http://xmlns.jcp.org/xml/ns/javaee/javaee_7.xsd"
               uri="xsd/javaee_7.xsd">
         </uri>
         <uri
               name="http://xmlns.jcp.org/xml/ns/javaee/web-common_3_1.xsd"
               uri="xsd/web-common_3_1.xsd">
         </uri>
         <uri
               name="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
               uri="xsd/web-app_3_1.xsd">
         </uri>
         <uri
               name="http://xmlns.jcp.org/xml/ns/javaee/jsp_2_3.xsd"
               uri="xsd/jsp_2_3.xsd">
         </uri>
         
         <!-- JEE 6 -->
         <uri
               name="http://java.sun.com/xml/ns/javaee/javaee_web_services_client_1_3.xsd"
               uri="xsd/javaee_web_services_client_1_3.xsd">
         </uri>
         <uri
               name="http://java.sun.com/xml/ns/javaee/javaee_6.xsd"
               uri="xsd/javaee_6.xsd">
         </uri>
         <uri
               name="http://java.sun.com/xml/ns/javaee/web-common_3_0.xsd"
               uri="xsd/web-common_3_0.xsd">
         </uri>
         <uri
               name="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
               uri="xsd/web-app_3_0.xsd">
         </uri>
         <uri
               name="http://java.sun.com/xml/ns/javaee/jsp_2_2.xsd"
               uri="xsd/jsp_2_2.xsd">
         </uri>
         
         <!-- JEE 5 -->
         <uri
               name="http://java.sun.com/xml/ns/javaee/javaee_web_services_client_1_2.xsd"
               uri="xsd/javaee_web_services_client_1_2.xsd">
         </uri>
         <uri
               name="http://java.sun.com/xml/ns/javaee/javaee_5.xsd"
               uri="xsd/javaee_5.xsd">
         </uri>
         <uri
               name="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
               uri="xsd/web-app_2_5.xsd">
         </uri>
         <uri
               name="http://java.sun.com/xml/ns/javaee/jsp_2_1.xsd"
               uri="xsd/jsp_2_1.xsd">
         </uri>
      </catalogContribution>
   </extension>

</plugin>
