<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension-point id="com.google.cloud.tools.eclipse.appengine.libraries" 
      name="App Engine Libraries" />

  <extension point="com.google.cloud.tools.eclipse.appengine.libraries"
             id="com.google.cloud.tools.eclipse.appengine.libraries.defaultapis">       
             
    <library 
          id="appengine-api"
          group="appengine"
          name="App Engine API"
          tooltip="%appengine.api.tooltip"
          siteUri="https://cloud.google.com/appengine/docs/java/" >
      <libraryFile javadocUri="https://cloud.google.com/appengine/docs/java/javadoc/"
          export="true">
        <mavenCoordinates
              artifactId="appengine-api-1.0-sdk"
              groupId="com.google.appengine" 
              version="1.9.64" />
        <exclusionFilter pattern="com/google/appengine/repackaged/**" />
        <exclusionFilter pattern="com/google/appengine/labs/repackaged/**" />
        <inclusionFilter pattern="com/google/apphosting/api/**" />
        <exclusionFilter pattern="com/google/apphosting/**" />
      </libraryFile>
    </library>
    <library
          id="appengine-endpoints"
          group="appengine"
          name="Google Cloud Endpoints"
          tooltip="%endpoints.tooltip"
          dependencies="include"
          siteUri="https://cloud.google.com/endpoints/docs/frameworks/java/about-cloud-endpoints-frameworks" >
      <libraryDependency id="appengine-api" />
      <libraryFile export="true" 
            javadocUri="https://cloud.google.com/endpoints/docs/frameworks/java/javadoc/">
        <mavenCoordinates
              artifactId="endpoints-framework"
              groupId="com.google.endpoints" 
              version="2.0.14"/>
        <exclusionFilter pattern="com/google/appengine/repackaged/**" />
      </libraryFile>
    </library>
    
    <library
          id="objectify"
          group="appengine"
          name="Objectify"
          tooltip="%objectify.tooltip"
          dependencies="include"
          siteUri="https://github.com/objectify/objectify/wiki" >
      <libraryDependency id="appengine-api" />
      <libraryFile
          pinned="true"
          export="true"
          javadocUri="https://www.javadoc.io/doc/com.googlecode.objectify/objectify/5.1.22">
        <mavenCoordinates
              artifactId="objectify"
              groupId="com.googlecode.objectify"
              version="5.1.22" />
      </libraryFile>
    </library>
    
    <library
          id="objectify6"
          group="flexible"
          name="Objectify"
          tooltip="%objectify.tooltip"
          dependencies="include"
          siteUri="https://github.com/objectify/objectify/wiki" >
      <libraryFile
          export="true"
          javadocUri="https://www.javadoc.io/doc/com.googlecode.objectify/objectify/6.0">
        <mavenCoordinates
              artifactId="objectify"
              groupId="com.googlecode.objectify"
              version="6.0" />
      </libraryFile>
    </library>

    <library
          id="servlet-api-2.5"
          name="Servlet API 2.5"
          group="servlet"
          siteUri="http://www.oracle.com/technetwork/java/javaee/servlet/index.html"
          export="false">
      <libraryFile
            pinned="true"
            javadocUri="https://docs.oracle.com/cd/E17802_01/products/products/servlet/2.5/docs/servlet-2_5-mr2/">
        <mavenCoordinates
              groupId="javax.servlet"
              artifactId="servlet-api"
              version="2.5" />
      </libraryFile>
    </library>

    <library
          id="jsp-api-2.1"
          group="servlet"
          name="Java Server Pages API 2.1"
          siteUri="http://www.oracle.com/technetwork/java/javaee/jsp/index.html"
          export="false">
      <libraryFile
            pinned="true"
            javadocUri="http://docs.oracle.com/cd/E17802_01/products/products/jsp/2.1/docs/jsp-2_1-pfd2/">
        <mavenCoordinates
              groupId="javax.servlet.jsp"
              artifactId="jsp-api"
              version="2.1" />
      </libraryFile>
    </library>

  </extension>

  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
        class="com.google.cloud.tools.eclipse.util.service.ServiceContextFactory:com.google.cloud.tools.eclipse.appengine.libraries.LibraryClasspathContainerInitializer"
        id="com.google.cloud.tools.eclipse.appengine.libraries" />
  </extension>
</plugin>
