<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
      id="appEngineWhitelist"
      name="%extension.name"
      point="org.eclipse.jdt.core.compilationParticipant">
     <compilationParticipant
         createsProblems="true"
         class="com.google.cloud.tools.eclipse.appengine.validation.JreWhitelistChecker"
         id="APT"
         requiredSourceLevel="1.5">
     </compilationParticipant>
  </extension>
  
  <extension 
      id="blacklistedClass" 
      name="App Engine Whitelist Marker"
      point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker" />
    <super type="org.eclipse.core.resources.textmarker" />
    <persistent value="true" />
  </extension>
  
</plugin>
