<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
     <startup class="com.google.cloud.tools.eclipse.appengine.login.MenuContributionInitializer"/>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.google.cloud.tools.eclipse.appengine.login.commands.category"
            name="Google Login Category">
      </category>
      <command
            categoryId="com.google.cloud.tools.eclipse.appengine.login.commands.category"
            id="com.google.cloud.tools.eclipse.appengine.login.commands.loginCommand"
            name="Google Login Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.google.cloud.tools.eclipse.appengine.login.GoogleLoginCommandHandler"
            commandId="com.google.cloud.tools.eclipse.appengine.login.commands.loginCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:file?after=additions">
         <command
               commandId="com.google.cloud.tools.eclipse.appengine.login.commands.loginCommand"
               id="com.google.cloud.tools.eclipse.appengine.login.menus.loginCommand"
               mnemonic="G">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status?after=additions">
         <toolbar
               id="com.google.cloud.tools.eclipse.appengine.login.toolbars.loginToolbar">
            <command
                  commandId="com.google.cloud.tools.eclipse.appengine.login.commands.loginCommand"
                  icon="icons/googleFavicon.png"
                  tooltip="%loginIconTooltip"
                  id="com.google.cloud.tools.eclipse.appengine.login.toolbars.loginCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
