# Format: //devtools/kokoro/config/proto/build.proto

# Files to load from cloud storage
gfile_resources: "/bigstore/gcloud-for-eclipse-testing/artifacts.jar"
gfile_resources: "/bigstore/gcloud-for-eclipse-testing/content.jar"

# Location of the release bash script in git.
build_file: "google-cloud-eclipse/kokoro/ubuntu/release.sh"

action {
  # These are files we want to save once the build is done.
  define_artifacts {
    regex: "**/*.jar"
  }
}

