<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="com.google.cloud.tools.eclipse.appengine.newproject.MavenAppEngineStandard"
            name="%mavenwizard.name"
            class="com.google.cloud.tools.eclipse.appengine.newproject.maven.MavenArchetypeProjectWizard"
            icon="platform:/plugin/com.google.cloud.tools.eclipse.appengine.ui/icons/gae-16x16.png"
            project="true"
            category="com.google.cloud.tools.eclipse.wizards">
         <description>%mavenwizard.description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
         <keywordReference id="com.google.cloud.tools.eclipse.appengine.ui.GCPKeyword"/>
         <keywordReference id="com.google.cloud.tools.eclipse.appengine.ui.GAEKeyword"/>
         <keywordReference id="com.google.cloud.tools.eclipse.appengine.ui.GoogleKeyword"/>
         <keywordReference 
             id="com.google.cloud.tools.eclipse.appengine.ui.AppEngineKeyword"/>
         <keywordReference 
             id="com.google.cloud.tools.eclipse.appengine.ui.AppSpaceEngineKeyword"/>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
         id="appengine"
         point="org.eclipse.wst.validation.exclude">
      <validator
            id="org.eclipse.wst.xml.core.xml">
         <exclude>
            <rules>
               <file
                     name="nbactions.xml"
                     type="full">
               </file>
               <file
                     name="appengine-web.xml"
                     type="file">
               </file>
            </rules>
         </exclude>
      </validator>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="org.eclipse.jdt.ui.JavaPerspective">
        <newWizardShortcut
              id="com.google.cloud.tools.eclipse.appengine.newproject.MavenAppEngineStandard">
        </newWizardShortcut>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.eclipse.jst.j2ee.J2EEPerspective">
        <newWizardShortcut
              id="com.google.cloud.tools.eclipse.appengine.newproject.MavenAppEngineStandard">
        </newWizardShortcut>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.eclipse.wst.web.ui.webDevPerspective">
        <newWizardShortcut
              id="com.google.cloud.tools.eclipse.appengine.newproject.MavenAppEngineStandard">
        </newWizardShortcut>
     </perspectiveExtension>
   </extension>
   
  <extension
        point="org.eclipse.help.contexts">
     <contexts
           file="helpContexts.xml">
     </contexts>
  </extension>

</plugin>
