<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.google.cloud.tools.eclipse.test.util.ui.ThreadDumpHandler"
            id="com.google.cloud.tools.eclipse.test.util.threadDump"
            name="Thread Dump">
      </command>
   </extension>

</plugin>
