<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="com.google.cloud.tools.eclipse.appengine.newproject.AppEngineStandard"
            name="%wizard.name"
            class="com.google.cloud.tools.eclipse.appengine.newproject.StandardProjectWizard"
            icon="platform:/plugin/com.google.cloud.tools.eclipse.appengine.ui/icons/gcp-16x16.png"
            project="true"
            category="com.google.cloud.tools.eclipse.appengine.wizards">
         <description>%wizard.description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <category 
          id="com.google.cloud.tools.eclipse.appengine.wizards" 
          name="%gcp.category" />
   </extension>
</plugin>
