<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="com.google.cloud.tools.eclipse.appengine.newproject.AppEngineStandard"
            name="Google App Engine Standard Java Project"
            class="com.google.cloud.tools.eclipse.appengine.newproject.StandardProjectWizard"
            icon="icons/app_engine_standard_16x16.png"
            project="true"
            category="com.google.cloud.tools.eclipse.appengine.wizards">
         <description>%wizard.description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <category 
          id="com.google.cloud.tools.eclipse.appengine.wizards" 
          name="Google Cloud Platform" />
   </extension>
</plugin>
