<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Google Cloud Tools"
            class="com.google.cloud.tools.eclipse.preferences.CloudToolsPreferencePage"
            id="com.google.cloud.tools.eclipse.preferences.preferences.CloudToolsPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.google.cloud.tools.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
