<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.jdt.ui.classpathContainerPage">
     <classpathContainerPage
       id="com.google.cloud.tools.eclipse.appengine.libraries"
       name="App Engine Libraries"
       class="com.google.cloud.tools.eclipse.appengine.libraries.ui.AppEngineLibrariesPage">
    </classpathContainerPage>
    <classpathContainerPage
       id="com.google.cloud.tools.eclipse.appengine.libraries"
       name="Google API Libraries"
       class="com.google.cloud.tools.eclipse.appengine.libraries.ui.ApiClientLibrariesPage">
    </classpathContainerPage>
    
 </extension>
</plugin>
