<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="com.google.cloud.tools.eclipse.appengine.localserver.server.AppToolsRuntime"
            description="%runtimeTypeDescription"
            id="com.google.cloud.tools.eclipse.appengine.standard.runtime"
            name="%apptoolsRuntimeTypeName"
            vendor="%runtimeTypeVendor"
            version="1">
         <moduleType
               types="jst.web"
               versions="2.5">
         </moduleType>
         <moduleType
               types="java"
               versions="1.7">
         </moduleType>
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="com.google.cloud.tools.eclipse.appengine.localserver.server.LocalAppEngineServerBehaviour"
            class="com.google.cloud.tools.eclipse.appengine.localserver.server.LocalAppEngineServerDelegate"
            description="%runtimeTypeDescription"
            id="com.google.cloud.tools.eclipse.appengine.standard.server"
            initialState="stopped"
            launchConfigId="com.google.cloud.tools.eclipse.appengine.AppToolsLaunchConfigurationType"
            launchModes="run,debug"
            name="%apptoolsTypeName"
            runtime="true"
            runtimeTypeId="com.google.cloud.tools.eclipse.appengine.standard.runtime"
            startBeforePublish="false"
            supportsRemoteHosts="true">
      </serverType>
   </extension>

   <extension point="org.eclipse.wst.server.ui.serverCreationWizardPageExtension">
      <serverCreationWizardPageExtension
            class="com.google.cloud.tools.eclipse.appengine.localserver.ui.ServerPortExtension"
            id="com.google.cloud.tools.eclipse.appengine.standard.server.wizardExtension">
      </serverCreationWizardPageExtension>
   </extension>

   <extension
         point="org.eclipse.jst.server.core.runtimeClasspathProviders">
      <runtimeClasspathProvider
            class="com.google.cloud.tools.eclipse.util.service.ServiceContextFactory:com.google.cloud.tools.eclipse.appengine.localserver.ServletClasspathProvider"
            id="com.google.cloud.tools.eclipse.appengine.standard.runtimeClasspathProvider"
            runtimeTypeIds="com.google.cloud.tools.eclipse.appengine.standard.runtime">
      </runtimeClasspathProvider>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type
            id="com.google.cloud.tools.eclipse.appengine.standard.runtime">
      </runtime-component-type>
      <runtime-component-version
            type="com.google.cloud.tools.eclipse.appengine.standard.runtime"
            version="1">
      </runtime-component-version>
      <supported>
         <runtime-component
               id="com.google.cloud.tools.eclipse.appengine.standard.runtime"
               version="1"></runtime-component>
         <facet
               id="com.google.cloud.tools.eclipse.appengine.facets.standard"
               version="1">
         </facet>
         <facet
               id="jst.web"
               version="2.5">
         </facet>
         <facet
               id="java"
               version="1.7">
         </facet>
      </supported>
      <adapter>
         <runtime-component
               id="com.google.cloud.tools.eclipse.appengine.standard.runtime">
         </runtime-component>
         <!-- TODO non-internal class to use here for factory -->
         <factory
               class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory">
         </factory>
         <type
               class="org.eclipse.jst.common.project.facet.core.IClasspathProvider">
         </type>
      </adapter>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
            id="com.google.cloud.tools.eclipse.appengineruntimeFacetMapping"
            runtime-component="com.google.cloud.tools.eclipse.appengine.standard.runtime"
            runtimeTypeId="com.google.cloud.tools.eclipse.appengine.standard.runtime"
            version="1">
      </runtimeFacetMapping>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="platform:/plugin/com.google.cloud.tools.eclipse.appengine.ui/icons/gae-16x16.png"
            id="com.google.cloud.tools.eclipse.appengine.standard.serverImage"
            typeIds="com.google.cloud.tools.eclipse.appengine.standard.runtime, com.google.cloud.tools.eclipse.appengine.standard.server">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.publishTasks">
      <publishTask
            class="com.google.cloud.tools.eclipse.appengine.localserver.server.LocalAppEnginePublishTaskDelegate"
            id="com.google.cloud.tools.eclipse.appengine.publishTask"
            typeIds="com.google.cloud.tools.eclipse.appengine.standard.server">
      </publishTask>
   </extension>
   
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="com.google.cloud.tools.eclipse.appengine.AppToolsLaunchConfigurationType"
            name="%apptoolsServerTypeName"
            delegate="com.google.cloud.tools.eclipse.appengine.localserver.server.LocalAppEngineServerLaunchConfigurationDelegate"
            modes="run, debug"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.google.cloud.tools.eclipse.appengine.AppToolsLaunchConfigurationType"
            icon="platform:/plugin/com.google.cloud.tools.eclipse.appengine.ui/icons/gae-16x16.png"
            id="com.google.cloud.tools.eclipse.appengine.launchConfigurationTypeImages">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.google.cloud.tools.eclipse.appengine.localserver.ui.AppEngineTabGroup"
            id="com.google.cloud.tools.eclipse.appengine.localserver.ui.AppEngineTabGroup"
            type="com.google.cloud.tools.eclipse.appengine.AppToolsLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="com.google.cloud.tools.eclipse.appengine.localserver.ui.LocalAppEngineConsolePageParticipant"
            id="com.google.cloud.tools.eclipse.appengine.consolePageParticipant">
              <enablement>
                <instanceof value="com.google.cloud.tools.eclipse.appengine.localserver.ui.LocalAppEngineConsole"/>
              </enablement>    
      </consolePageParticipant>
   </extension>
   <extension
         id="urlLinker"
         point="org.eclipse.ui.console.consolePatternMatchListeners">
    <!-- pretty liberal URL pattern matcher -->
    <consolePatternMatchListener
      class="com.google.cloud.tools.eclipse.ui.util.console.PatternToHyperlinkConverter"
      id="com.google.cloud.tools.eclipse.appengine.deploy.consolePatternMatchListener"
      regex="https?://([\w-]+\.?)+(:\w+)?(/[^\s]*)?">
      <enablement>
        <instanceof value="com.google.cloud.tools.eclipse.appengine.localserver.ui.LocalAppEngineConsole"/>
      </enablement>
    </consolePatternMatchListener>
   </extension>
   <extension
         id="com.google.cloud.tools.eclipse.appengineDefaultFacet"
         point="org.eclipse.wst.common.project.facet.core.defaultFacets">
      <default-facets>
         <facet
               id="com.google.cloud.tools.eclipse.appengine.facets.standard"
               version="1">
         </facet>
         <runtime-component
               id="com.google.cloud.tools.eclipse.appengine.standard.runtime"
               version="1">
         </runtime-component>
      </default-facets>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="com.google.cloud.tools.eclipse.appengine.localserver.server.DevAppServerProcessFactory"
            id="com.google.cloud.tools.eclipse.appengine.localserver.processfactory">
      </processFactory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.google.cloud.tools.eclipse.appengine.localserver.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.google.cloud.tools.eclipse.preferences.main"
            class="com.google.cloud.tools.eclipse.preferences.areas.AreaBasedPreferencePage"
            id="com.google.cloud.tools.eclipse.preferences.appengine.localserver"
            name="%launch.prefpage.name">
      </page>
   </extension>
   <extension
         point="com.google.cloud.tools.eclipse.preferences.areas">
         <area
               host="com.google.cloud.tools.eclipse.preferences.appengine.localserver"
               title="App Engine"
               class="com.google.cloud.tools.eclipse.appengine.localserver.ui.LaunchBehaviorsArea"
               preferences="instance://com.google.cloud.tools.eclipse.appengine.localserver"/>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="com.google.cloud.tools.eclipse.appengine.localserver.ui.LocalAppEngineServerWizardFragment"
            id="com.google.cloud.tools.eclipse.appengine.localserver.ui.LocalAppEngineServerWizardFragment"
            typeIds="com.google.cloud.tools.eclipse.appengine.standard.server">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%launch.command.description"
            id="com.google.cloud.tools.eclipse.appengine.localserver.launch"
            name="%launch.command.name">
         <commandParameter
               id="launchMode"
               name="%launch.command.mode.name"
               optional="true"
               values="com.google.cloud.tools.eclipse.appengine.localserver.ui.LaunchModes">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.google.cloud.tools.eclipse.appengine.localserver.launching.LaunchAppEngineStandardHandler"
            commandId="com.google.cloud.tools.eclipse.appengine.localserver.launch">
         <enabledWhen>
            <or>
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.wst.common.project.facet.core.projectFacet"
                           value="com.google.cloud.tools.eclipse.appengine.facets.standard">
                     </test>
                  </adapt>
              </iterate>
              <and>
                 <with
                       variable="activePart">
                    <instanceof
                          value="org.eclipse.ui.IEditorPart">
                    </instanceof>
                  </with>
                  <with
                        variable="activeEditorInput">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.wst.common.project.facet.core.projectFacet"
                              value="com.google.cloud.tools.eclipse.appengine.facets.standard">
                        </test>
                     </adapt>
                  </with>
               </and>
           </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            id="com.google.cloud.tools.eclipse.appengine.localserver.launch.appengine.standard"
            label="%launch.shortcut.label"
            description="%launch.shortcut.description"
            path="com.google.cloud.tools.eclipse/appEngineStandard"
            class="com.google.cloud.tools.eclipse.appengine.localserver.launching.LocalAppEngineStandardLaunchShortcut"
            icon="platform:/plugin/com.google.cloud.tools.eclipse.appengine.ui/icons/gae-16x16.png"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <iterate>
                  <adapt type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.wst.common.project.facet.core.projectFacet"
                           value="com.google.cloud.tools.eclipse.appengine.facets.standard" />
                  </adapt>
               </iterate>
            </enablement>
         </contextualLaunch>
         <description
               description="%launch.shortcut.run.description"
               mode="run" />
         <description
               description="%launch.shortcut.debug.description"
               mode="debug" />
         <configurationType
               id="com.google.cloud.tools.eclipse.appengine.AppToolsLaunchConfigurationType"/>
      </shortcut>
      
   </extension>
</plugin>
